<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/admin/layout}"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Showtime by Theater</title>
    <link rel="stylesheet" th:href="@{/assets/admin/css/showtime.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<section layout:fragment="body">
    <div class="container-fluid mt-4">
        <h1 class="h3 mb-2 text-gray-800">Xem Suất Chiếu Theo Rạp</h1>
        <form action="/admin/showtimes" method="get">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div class="form-group col-md-6">
                        <label for="province">Tỉnh/Thành:</label>
                        <select class="form-control" id="province" name="province" required>
                            <option value="">Chọn Tỉnh/Thành</option>
                            <option th:each="city : ${cities}"
                                    th:value="${city.id}"
                                    th:text="${city.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="theater">Rạp:</label>
                        <select class="form-control" id="theater" name="theater" required>
                            <option value="">Chọn Rạp</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex justify-content-between">
                    <div class="form-group col-md-6">
                        <label for="date">Chọn Ngày:</label>
                        <input type="date" class="form-control" id="date" name="date" required th:value="${selectedDate}">
                    </div>
                </div>
            </div>
            <div class="mt-2" style="padding-left: 5px;">
                <button type="submit" class="btn btn-primary mt-3 mt-md-0">Xem</button>
            </div>
        </form>

        <div class="mt-4">
            <h2 class="h4">Danh Sách Suất Chiếu</h2>
<!--            <div th:if="${groupedShowtimes.isEmpty()}">-->
<!--                <p>Không có suất chiếu nào cho rạp và ngày đã chọn.</p>-->
<!--            </div>-->
            <div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Suất Chiếu</th>
                        <th>Phim</th>
                        <th>Giờ Bắt Đầu</th>
                        <th>Phòng Chiếu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="entry : ${groupedShowtimes}">
                        <td th:text="${entry.key.id}"></td>
                        <td th:text="${entry.key.titleVn}"></td>
                        <td th:text="${#dates.format(entry.key.startTime, 'dd/MM/yyyy HH:mm')}"></td>
                        <td th:text="${entry.screen.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            var theatersByCity = JSON.parse(/*[[${theatersByCity}]]*/ '{}');
            $('#province').change(function () {
                var cityId = $(this).val();
                var $theaterSelect = $('#theater');

                $theaterSelect.empty();
                $theaterSelect.append('<option value="">Chọn Rạp</option>');

                if (cityId && theatersByCity[cityId]) {
                    $.each(theatersByCity[cityId], function (index, theater) {
                        $theaterSelect.append('<option value="' + theater.id + '">' + theater.name + '</option>');
                    });
                }else {
                    $theaterSelect.append('<option value="">Không có rạp</option>');
                }
            });
        });
    </script>
</section>
</body>
</html>
