.cinema-container {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #777;
    box-shadow: 0 0 0 10px #777;
    position: relative;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #ccc;
    text-shadow: 2px 2px 0px #555, 4px 4px 0px #333, 6px 6px 0px #111;
    margin-bottom: 20px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    border-bottom: 2px solid #777;
    display: inline-block;
}

.locations ul {
    list-style-type: none;
    padding: 0;
    column-count: 5;
    column-gap: 20px;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 2px solid #777;
    display: inline-block;
}

.info ul {
    list-style-type: none;
    padding: 0;
    column-count: 3;
    column-gap: 20px;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 2px solid #777;
}

.locations li {
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s ease;

}

.info li {
    margin-bottom: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s ease;
    flex: 1;
}

.info{
    padding-left: 40px;
    padding-right: 40px;
}

.locations li:hover {
    color: red;
}

.locations li.selected {
    color: red;
}

.locations li.selected:hover {
    color: red;
}
