.booking-progress {
    width: 100%;
    border: 2px solid #d4d3c9;
    #background-color: #F2F0E4;
    display: block;
}
.progress > li {
    width: 100%;
}
.main-content {
    display: block;
}
.main-content .progress {
    position: relative;
    height: 100%;
    width: 100%;
    display: block;
}
.main-content .products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}
.main{
    width: 90%;
}
.col-main .page-title {
    margin-top: 0;
    text-align: center;
    background: #231d1c;
    width: 100%;
}

.col-main .page-title h3 {
    color: #fff;
    line-height: 32px;
    padding: 0;
    margin: 0;
}

.top-content {
    width: 100%;
    padding: 5px;
    border-bottom: 2px solid #d4d3c9;
    background: #e9ecef;
    margin-bottom: 20px;
    overflow: hidden;
}

.top-content .products-list {
    width: 100%;
    margin: 0;
}

.top-content .products-list > li {
    margin: 0;
    width: 100%;
}

.top-content .products-list .product-shop {
    float: left;
    padding: 0;
    width: 100%;
    white-space: normal; /* Cho phép xuống dòng khi gặp khoảng trắng */
}

.top-content .products-list .product-shop * {
    white-space: normal;
}

.products-list .product-shop .product-primary {
    font-weight: bold;
}
.booking-step .products-list .product-shop .desc {
    white-space: normal;
    width: 90%;
    font-size: 14px;
    margin-bottom: 5px;
}
.booking-step .products-list .product-shop .desc.std {
    white-space: pre-line;
}
#countdown .cgvminutes, #countdown .cgvseconds {
    font-weight: normal;
}

.smalltext {
    color: #999;
}
.main-content .products-list li.item {
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.booking-step .action .button {
    width: 18px;
}
.booking-step .action .qty.button {
    color: #000;
    width: 33px;
}

.booking-progress .main-content {
    white-space: nowrap;
    overflow: hidden;
}

.booking-progress .main-content .progress .booking-step {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 100%;
}
.main-content .h1 {
    color: white;
    text-align: center;
    width: 100%;
    background: black;
    font-size: 16px;
    line-height: 32px;
    border-top: 2px solid #d4d3c9;
    border-bottom: 2px solid #d4d3c9;
}
.main-content .products-list li.item.first {
    float: left;
    width: 49%;
}

.main-content .products-list li.item.last {
    float: right;
    width: 49%;
}
.main-content .products-list li.item img {
    border: none;
}
.products-list .product-shop .product-secondary {
    float: right;
    width: 35%;
    text-align: right;
    clear: right;
}

.products-list .product-shop .product-primary, .products-list .product-shop .desc {
    float: left;
    overflow: hidden;
}
.products-list > li .product-image {
    float: left;
    width: 33.33333%;
    margin-right: 15px;
}

ol {
    list-style: none;
    float: left;
    padding: 0;
}

li {
    list-style: none;
}

.main-content .products-list {
    margin: 0 20px 20px 20px;
}

.products-list .product-shop {
    float: right;
    width: 66.66667%;
    padding-left: 20px;
    flex: 1;
    white-space: normal;
}
.product-primary {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}
.products-list .product-shop .desc {
    margin-top: 7px;
}

.products-list .product-shop .price-box {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.products-list .product-shop .price-box .price {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}


.products-list .product-shop .action {
    margin: 7px 0;
    display: flex;
    align-items: center;
}

.products-list .product-shop .action {
    margin: 7px 0;
}
#countdown > div {
    padding: 10px;
    border-radius: 5px;
    background: #fdfcf0;
    display: inline-block;
    text-align: center;
}
#countdown div > span {
    padding: 10px;
    border-radius: 5px;
    background: #e71a0f;
    display: inline-block;
    width: 40px;
    color: #fff;
}
.button {
    background: #e71a0f;
    display: inline-block;
    padding: 6px 2px;
    border: 0;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.button:hover {
    cursor: pointer;
}
.button + .button {
    margin-left: 5px;
}

.input-text {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid silver;
    background: #FFFFFF;
    font-size: 15px;
}
.format-bg-top {
    width: 100%;
    height: 8px;
    overflow: hidden;
}

.format-bg-bottom {
    width: 100%;
    height: 8px;
    overflow: hidden;
}
.bottom-content {
    background-color: #000;
    font-size: 0;
}
