footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
}
footer * {
    box-sizing: content-box;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 10px 20px;
}

.footer-section h3 {
    font-weight: 700;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-section p {
    margin: 5px 0;
    color: #ccc;
}

.footer-section p a {
    color: #fff;
    text-decoration: underline;
}

.footer-section p a:hover {
    color: #ccc;
}

/* Social Links */
.social-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-right: 10px;
}

.social-links li a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-links li a img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        margin: 20px 0;
        text-align: center;
    }
}
.footer-section select {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
}