header {
    width: 100%;
    background-color: #f04e31;
    color: #fff;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.logo img {
    height: 50px;
}

.search-bar {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 500px;
    height: 30px;
}

.search-bar input {
    border: none;
    padding: 10px;
    outline: none;
    flex-grow: 1;
}

.search-bar button {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    transform-origin: center;
}

.search-bar button:hover {
    transform: scale(1.1);

}

.search-bar button img {
    height: 14px;
}

.user-info {
    display: flex;
    align-items: center;
    color: #f04e31;
}

.user-info .username {
    margin-right: 15px;
}

.main-nav {
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.main-nav li {
    position: relative;
    display: inline-block;
}
.main-nav ul li {
    margin-right: 20px;
}
.main-nav a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: white;
}
.main-nav .dropdown {
    background-color: #333;
    display: none;
    position: absolute;
    border-radius: 5px;
    border: 1px solid #777;
    box-shadow: 0 0 0 5px #777;
    min-width: 200px;
    z-index: 1;
    left: 20px;
}

.main-nav .dropdown a {
    color: white;
    text-decoration: none;
    display: block;
}

.main-nav li:hover .dropdown {
    display: block;
}
.main-nav ul li a {
    text-decoration: none;
    color: #333;
}
.main-nav ul li a:hover {
    color: #f04e31;
}
