.banner-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 30px 0;
}

.movie-selection {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 30px;
}

.slide-movie-banner{
    display: flex;
    align-items: center;
}

.movie-selection::before,
.movie-selection::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
    margin: 0 20px;
    height: 2px;
}

.movie-selection::before {
    margin-right: 10px;
}

.movie-selection::after {
    margin-left: 10px;
}

.movie-selection h2{
    background: url("../images/h3_movie_selection.jpg");
    display: inline-block;
    width: 406px;
    height: 42px;
    text-indent: -99999px;
}

.banner-wrapper {
    overflow: hidden;
    width: 1000px; /* Width of 4 banners */
}

.banners {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
    list-style: none;
}

.banner {
    position: relative;
    width: 240px;
    height: 355px;
    background-color: #ddd;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .feature_film_content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Nền mờ để làm nổi bật nội dung */
    color: white;
    padding-bottom: 10px;
    z-index: 1000;
}

.banner .feature_film_content h3{
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}
.banner .feature_film_content a{
    margin-left: 10px;
    padding: 8px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    background: #e71a0f;
    color: white;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

.banner .feature_film_content button{
    margin-left: 5px;
    border: 0;
    border-radius: 5px;
    padding: 7px 10px;
    font-weight: bold;
    background: #e71a0f;
    color: white;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

.banner .play-button{
    background: url('../images/bg-transparent-grey.png');
    height: 355px;
    left: 0;
    position: absolute;
    top: 0;
    width: 240px;
    text-indent: -99999px;
    display: block;
    cursor: pointer;
}

.feature_film_content,
.play-button {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.banner:hover .feature_film_content,
.banner:hover .play-button {
    opacity: 1;
}

.nav-button {
    position: relative;
    width: 35px;
    height: 75px;
    background-color: #e71a0f;
    color: white;
    border: none;
    cursor: none;
    transition: background-color 0.3s ease;
    margin-left: -2px;
    margin-right: -2px;
    user-select: none;
    outline: none;
}
.nav-button:focus, .nav-button:active {
    outline: none;
}
#next {
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
}

#prev {
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
}
.nav-button i {
    font-size: 1.5em; /* Kích thước biểu tượng */
}


