<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/user/layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" th:href="@{/assets/user/css/payment.css}">
    <script th:src="@{/assets/user/js/payment.js}"></script>
    <script th:src="@{/assets/user/js/count-down.js}"></script>
</head>
<body>
<section layout:fragment="body" class="main-container">
    <form class="main" th:action="@{/ticket-bookings/showtimes/{id}/confirm-payment(id=${showtime.id})}" method="post">
        <div class="page-title">
            <h1>Thanh toán</h1>
        </div>
        <div class="discount">
            <div class="col-1">
                <ol class="opc" id="checkoutSteps">
                    <li id="opc-1" class="section">
                        <div class="step-title">
                            <h2>
                                <span class="class-step-payment" th:text="#{user.payments.step-1}">Bước 1</span>: <span th:text="#{user.payments.discount}">Giảm giá</span>
                            </h2>
                        </div>
                        <div id="checkout-step-1" class="step">
                            <dl class="checkout-discount-method">
                                <dt id="dt_method_1">
                                    <span th:text="#{user.payments.cgv-point}">Điểm CGV</span>
                                </dt>
                                <dd id="dd_method_1">
                                    <div class="col1-set">
                                        <div class="p-2">
                                            <div class="content">
                                                <p><span th:text="#{user.payments.you-have}">Bạn có</span>: <span th:text="${user.rewardPoints}">0</span> P</p>
                                                <div class="input-box">
                                                    <input type="number" min="0" th:max="${user.rewardPoints}" name="point_used" value="0" title="" class="points-input" id="point_input">
                                                    <button type="button" class="btn btn-buy-cover points-button text-white" id="btn_point_use" th:text="#{user.payments.use}">
                                                        Sử dụng
                                                    </button>
                                                </div>
                                                <p class="discount-chose-points text-right"><span th:text="#{user.payments.discount}">Giảm giá</span> : <span
                                                        class="price" id="discount_point">0,00&nbsp;₫</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                                <dt id="dt_method_2" th:text="#{user.payments.voucher}">
                                    Mã Khuyến Mãi
                                </dt>
                                <dd id="dd_method_2">
                                    <div class="promo-verification">
                                        <label th:text="#{user.payments.typing-voucher}">Nhập mã khuyến mãi</label>
                                        <input name="code" title="code" class="input-text" type="text">
                                        <button type="button" class="btn btn-buy-cover text-white" th:text="#{user.payments.use}">Sử dụng</button>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </li>
                    <li id="opc-2" class="section">
                        <div class="step-title">
                            <h2>
                                <span class="class-step-payment"><span th:text="#{user.payments.step-2}">Bước 2</span>: </span><span th:text="#{user.payments.payment-method}">Hình thức thanh toán</span>
                            </h2>
                        </div>
                        <div id="checkout-step-2" class="step">
                            <dl class="sp-methods" id="checkout-payment-method-load">
                                <dt id="dt_method_onepay" style="margin:0 0 5px;">
                                    <input id="p_method_onepay" name="payment_method" value="onepay" type="radio"
                                           title="ATM card" class="radio">
                                    <label for="p_method_onepay">
                                            <span class="pm_icon"
                                                  style="background-image:url('https://iguov8nhvyobj.vcdn.cloud/media/catalog/product/placeholder/default/atm_icon.png')"></span>
                                        <span class="pm_name">ATM card</span>
                                    </label>
                                </dt>
                                <dt id="dt_method_momo_pay" style="margin:0 0 5px;">
                                    <input id="p_method_momo_pay" name="payment_method" value="momo_pay" type="radio" title="Momo" class="radio" >
                                    <label for="p_method_momo_pay">
                                            <span class="pm_icon" style="background-image:url('https://upload.wikimedia.org/wikipedia/vi/f/fe/MoMo_Logo.png')"></span>
                                        <span class="pm_name">MOMO</span>
                                    </label>
                                </dt>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <div class="form-group checkbox">
                            <label>
                                <input type="checkbox">
                                <a th:text="#{user.payments.agreement}">Tôi đồng ý với điều khoản sử dụng và mua vé cho người có độ tuổi phù hợp </a>
                            </label>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="col-2">
                <div class="cart-sidebar">
                    <div class="cart-items">
                        <table class="data-table">
                            <thead>
                            <tr>
                                <td colspan="2" th:text="#{user.payments.total}">Tổng cộng</td>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>
                                    <span th:text="#{user.payments.ticket-price}">Giá vé</span>:
                                </td>
                                <td>
                                    <span class="price" th:text="${#numbers.formatDecimal(seatSelectionForm.getTotalPrice(), 0, 'POINT', 0, 'COMMA')} + ' ₫'">124.909,00&nbsp;₫</span></td>
                            </tr>
                            <th:block th:each="foodTotalPrice : ${foodSelectionForm.getFoodTotalPrices()}">
                                <tr >
                                    <td th:text="${foodTotalPrice.name}">
                                        CGV COMBO bắp + nước
                                    </td>
                                    <td th:text="${#numbers.formatDecimal(foodTotalPrice.totalPrice, 0, 'POINT', 0, 'COMMA')} + ' ₫'">
                                        <span class="price">119.000,00&nbsp;₫</span>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2"><span class="price"
                                                      id = "total_price"
                                                      th:attr = "data-value=${seatSelectionForm.getTotalPrice() + foodSelectionForm.getTotalPrice()}"
                                                      th:text="${#numbers.formatDecimal(foodSelectionForm.getTotalPrice() + seatSelectionForm.getTotalPrice(), 0, 'POINT', 0, 'COMMA')} + ' ₫'">243.909,00&nbsp;₫</span></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="chosen-discount">
                        <table class="data-table">
                            <thead>
                            <tr>
                                <td colspan="2"><span th:text="#{user.payments.voucher}">Khuyến mãi</span></td>
                            </tr>
                            </thead>

                            <tbody></tbody>

                            <tfoot>
                            <tr>
                                <td colspan="2"><span class="price" id="discount_total" data-value="0">0,00&nbsp;₫</span></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="chosen-payment">
                        <table class="data-table">
                            <thead>
                            <tr>
                                <td colspan="2" th:text="#{user.payments.total-payment}">Tổng số tiền thanh toán</td>
                            </tr>
                            </thead>

                            <tbody></tbody>

                            <tfoot>
                            <tr>
                                <td colspan="2"><span class="price" th:text="${#numbers.formatDecimal(foodSelectionForm.getTotalPrice() + seatSelectionForm.getTotalPrice(), 0, 'POINT', 0, 'COMMA')} + ' ₫'"
                                    id="final_price">243.909,00&nbsp;₫</span></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="countexpire" id="countdown">
                        <h3>Countdown Clock</h3>
                        <div><span class="cgvminutes">4</span>
                            <div class="smalltext">Minutes</div>
                        </div>
                        <div><span class="cgvseconds">28</span>
                            <div class="smalltext">Seconds</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-bottom cgv-bottom">
            <div class="bottom-content">
                <div class="format-bg-top"></div>
                <div th:replace="~{components/foot-booking}"></div>
                <div class="format-bg-bottom"></div>
            </div>
        </div>
        <a href="#" class="d-flex justify-content-center pt-5">
            <button type="submit" class="btn text-white" style="background-color: orangered" th:text="#{user.payments.purchase}">Thanh toán</button>
        </a>
    </form>
</section>
</body>
</html>
