<body>
<footer class="bg-body-tertiary mt-auto py-3">
    <div class="footer-container">
        <div class="footer-section">
            <p class="h4" th:text="#{user.footer.cgv-vn}">CGV Việt Nam</p>
            <ul>
                <li><a href="#" th:text="#{user.footer.about}">Giới Thiệu</a></li>
                <li><a href="#" th:text="#{user.footer.eCGV}">Tiện Ích Online</a></li>
                <li><a href="#" th:text="#{user.footer.gift-card}">Thẻ Quà Tặng</a></li>
                <li><a href="#" th:text="#{user.footer.career}">Tuyển Dụng</a></li>
                <li><a href="#" th:text="#{user.footer.contact-cgv}">Liên Hệ Quảng Cáo CGV</a></li>
                <li><a href="#" th:text="#{user.footer.for-partners}">Dành cho đối tác</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <p class="h4" th:text="#{user.footer.terms-conditions}">Điều khoản sử dụng</p>
            <ul>
                <li><a href="#" th:text="#{user.footer.general-term}">Điều Khoản Chung</a></li>
                <li><a href="#" th:text="#{user.footer.transaction-term}">Điều Khoản Giao Dịch</a></li>
                <li><a href="#" th:text="#{user.footer.payment-policy}">Chính Sách Thanh Toán</a></li>
                <li><a href="#" th:text="#{user.footer.privacy-policy}">Chính Sách Bảo Mật</a></li>
                <li><a href="#" th:text="#{user.footer.question}">Câu Hỏi Thường Gặp</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <p class="h4" th:text="#{user.footer.follow-us}">Kết nối với chúng tôi</p>
            <ul class="social-links">
                <li><a href="#"><img th:src="@{/assets/user/images/facebook-icon.png}" alt="Facebook"></a></li>
                <li><a href="#"><img th:src="@{/assets/user/images/youtube-icon.png}" alt="YouTube"></a></li>
                <li><a href="#"><img th:src="@{/assets/user/images/instagram-icon.png}" alt="Instagram"></a></li>

            </ul>
        </div>
        <div class="footer-section">
            <p class="h4" th:text="#{user.footer.customer-service}">Chăm sóc khách hàng</p>
            <p>Hotline: 1900 6017</p>
            <p th:text="#{user.footer.working-hours}">Giờ làm việc: 8:00 - 22:00 (Tất cả các ngày bao gồm cả Lễ Tết)</p>
            <p>
                <span th:text="#{user.footer.email-support}">Email hỗ trợ</span>:&nbsp;
                <a href="mailto:hoidap@cgv.vn">hoidap@cgv.vn</a>
            </p>
        </p>
    </div>
</footer>
</body>
</html>