<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header class="bg-primary text-white text-center py-3">
    <div class="header-container">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/assets/user/images/cgvlogo.png}" alt="CGV Logo">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" th:placeholder="#{header.search-bar.placeholder}">
            <button type="submit"><img th:src="@{/assets/user/images/search-icon.png}" alt="Search"></button>
        </div>
        <div class="language-switch">
            <button id="lang-vi" class="btn btn-primary">VI</button>
            <button id="lang-en" class="btn btn-primary">EN</button>
        </div>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="listFilm">PHIM>></a></li>
            <li><a href="theater">RẠP CGV>></a></li>
            <li><a href="member">THÀNH VIÊN>></a></li>
        </ul>
    </nav>
</header>
</body>
</html>