<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header class=" text-white text-center py-3">
    <div class="header-container">
        <div class="logo">
            <a th:href="@{/}">
                <img th:src="@{/assets/user/images/cgvlogo.png}" alt="CGV Logo">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" th:placeholder="#{header.search-bar.placeholder}">
            <button type="submit"><img th:src="@{/assets/user/images/search-icon.png}" alt="Search"></button>
        </div>
        <div class="language-switch">
            <button class="btn btn-primary" th:classappend="${#locale.language == 'vi' ? ' active' : ''}"
                    onclick="reloadPageWithLanguage('vi', this)">VI
            </button>
            <button class="btn btn-primary" th:classappend="${#locale.language == 'en' ? ' active' : ''}"
                    onclick="reloadPageWithLanguage('en', this)">EN
            </button>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}" class="user-info">
            <span class="username" th:text="#{header.greet(${session.user.getFullName()})}"></span>
            <a th:href="@{/logout}" th:text="#{header.logout}"></a>
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated()')}" class="login-prompt">
            <a th:href="@{/login}" th:text="#{header.login}"></a>
        </div>
    </div>
    <nav class="main-nav">
        <ul>
            <li>
                <a th:href="@{/}">PHIM>></a>
                <div class="dropdown">
                    <a th:href="@{/movies/now-showing}">Phim đang chiếu</a>
                    <a th:href="@{/movies/up-coming}">Phim sắp chiếu</a>
                </div>
            </li>
            <li><a th:href="@{/theaters}">RẠP CGV>></a></li>
            <li><a th:href="@{/member}">THÀNH VIÊN>></a></li>
        </ul>
    </nav>
    <script>
        function reloadPageWithLanguage(lang, element) {
            // Check if the element has the class 'active'
            if (element.classList.contains('active')) {
                // If it has the class 'active', do nothing
                return;
            }

            const currentUrl = window.location.href;
            let newUrl;
            if (currentUrl.includes('?')) {
                newUrl = `${currentUrl.split('?')[0]}?lang=${lang}`;
            } else {
                newUrl = `${currentUrl}?lang=${lang}`;
            }
            window.location.href = newUrl;
        }
    </script>
</header>

</body>
</html>
