<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/user/layout}" lang="">
<head>
    <meta charset="UTF-8">
    <title>Select Popcorn and Drinks</title>
    <link rel="stylesheet" th:href="@{/assets/user/css/food.css}">
    <script th:src="@{/assets/user/js/food-booking.js}"></script>
    <script th:src="@{/assets/user/js/count-down.js}"></script>
</head>
<body>
<section layout:fragment="body" class="container my-5">
    <div class="main-container">
        <div class="main">
            <div class="col-main">
                <div class="booking-progress">
                    <div class="page-title">
                        <h3>Booking Online</h3>
                    </div>
                    <div class="top-content">
                        <ol class="products-list">
                            <li class="item">
                                <div class="product-shop">
                                    <div>
                                        <div class="product-primary">
                                            <p th:text="${showtime.screen.theater.name } + ' | Phòng ' + ${showtime.screen.name}"></p>
                                            <p th:text="${showtime.startTime.toLocalDate()} + ' ~ ' + ${showtime.startTime.toLocalTime()}" ></p>
                                        </div>
                                        <div class="product-secondary">
                                            <div class="countexpire" style="display: block">
                                                <h5>Countdown Clock</h5>
                                                <div id="countdown">
                                                    <div>
                                                        <span class="cgvminutes">4</span>
                                                        <div class="smalltext">Minutes</div>
                                                    </div>
                                                    <div>
                                                        <span class="cgvseconds">25</span>
                                                        <div class="smalltext">Seconds</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <form class="main-content" th:action="@{/ticket-bookings/showtimes/{id}/payments(id=${showtime.id})}" method="post" th:object="${foodSelectionForm} ">
                        <ul class="progress">
                            <li class="booking-step">
                                <label class="h1">Bắp Nước</label>
                                <ol class="products-list">
                                    <li th:each="foodSelection, itemStat : *{foodSelections}" class="item food">
                                        <img th:src="${foodSelection.food.photoUrl}" th:alt="${foodSelection.food.name}" class="product-image">
                                        <div class="product-shop">
                                            <div class="product-primary" th:text="${foodSelection.food.name}"></div>
                                            <div class="desc std" th:text="${foodSelection.food.description}"></div>
                                            <div class="desc">
                                                <div class="price-box">
                                                    <span class="label">Giá:</span>
                                                    <span class="price" th:text="${#numbers.formatDecimal(foodSelection.food.price, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></span>
                                                </div>
                                                <div class="action">
                                                    <div th:title="${foodSelection.food.name}" class="button" th:onclick="updateCount(this, -1)"
                                                          th:attr="data-index=${itemStat.index}">-</div>
                                                    <input type="hidden" class="qty" th:field="*{foodSelections[__${itemStat.index}__].count}" value="0" />
                                                    <div th:id="'quantity-display-' + ${itemStat.index}" class="input-text qty button ml-2">0</div>
                                                    <div th:title="${foodSelection.food.name}" class="button" th:onclick="updateCount(this, 1)"
                                                          th:attr="data-index=${itemStat.index}">+</div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" th:field="*{foodSelections[__${itemStat.index}__].food.id}">
                                        <input type="hidden" th:field="*{foodSelections[__${itemStat.index}__].food.name}">
                                        <input type="hidden" th:field="*{foodSelections[__${itemStat.index}__].food.price}">
                                    </li>
                                </ol>
                            </li>
                        </ul>
                        <div class="bottom-content">
                        <div class="format-bg-top"></div>
                            <div th:replace="~{components/foot-booking}"></div>
                        <div class="format-bg-bottom"></div>
                        </div>
                        <div class="d-flex justify-content-center pt-5 pb-2">
                            <button type="submit" class="btn text-white" style="background-color: orangered" >Thanh toán</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
