<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CGV Cinemas</title>

</head>
<body>

<div class="cinema-container">
    <div class="header">
        <h1>CGV CINEMAS</h1>
    </div>
    <div class="locations">
        <ul>
            <li th:each="city : ${cities}"
                th:text="${city.name}"
                th:data-city-id="${city.id}"
                onclick="showInfo([[${city.id}]])"></li>
        </ul>
    </div>
    <div id="info" class="info"></div>
</div>

</body>
</html>