<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Selection Slider</title>

</head>
<body>
<div class="banner-container" th:fragment="slideMovie">
  <div class="movie-selection">
    <h2>movie selection</h2>
  </div>
  <div class="slide-movie-banner">
    <button id="prev" class="nav-button"><i class="fa-solid fa-chevron-left"></i></button>
    <div class="banner-wrapper">
      <ul class="banners">
        <li class="banner" th:each="movie : ${movies}">
          <!-- Hiển thị ảnh của phim -->
          <img th:src="@{${movie.photoUrl}}" alt="Poster của [[${movie.titleVn}]]">

          <div class="feature_film_content">
            <!-- Tiêu đề phim -->
            <h3 th:text="${movie.titleVn}">KẺ TRỘM MẶT TRĂNG 4</h3>

            <!-- Liên kết đến trang chi tiết phim -->
            <a title="Xem chi tiết" class="button" th:href="@{/movies/{id}(id=${movie.id})}">Xem chi tiết</a>

            <!-- Nút mua vé -->
            <button data-toggle="modal" data-target="#exampleModalLong" th:attr="data-movie-id=${movie.id}">Mua vé</button>
          </div>

          <!-- Nút play liên kết đến trailer của phim -->
          <a class="play-button" th:href="${movie.trailer}" target="_blank"></a>
        </li>
      </ul>
    </div>

    <button id="next" class="nav-button"><i class="fa-solid fa-chevron-right"></i></button>
  </div>

</div>

</body>
</html>
