<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/user/layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{user.movies.now-showing.title}">Title</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #fdfcf0;
      margin: 0;
      padding: 0;
      color: #333;
    }
  </style>
  <link rel="stylesheet" th:href="@{/assets/user/css/now-showing.css}">
  <link rel="stylesheet" th:href="@{/assets/user/css/up-coming.css}">
</head>
<body>
<section layout:fragment="body">
  <div class="now-showing-page">
    <div class="container my-5">
      <div class="row">
        <div class="col-6">
          <div class="now" th:text="#{user.movies.now}">Phim Đang Chiếu</div>
        </div>
        <div class="col-6 text-right">
          <div class="soon"><a th:href="@{/movies/up-coming}" th:text="#{user.movies.coming}">Phim Sắp Chiếu</a></div>
        </div>
      </div>
      <hr>
      <section th:replace="~{components/user-movie-list.html}"></section>
    </div>
  </div>
</section>
</body>
