<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/user/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #fdfcf0;
      margin: 0;
      padding: 0;
      color: #333;
    }
  </style>
</head>
<body>
<section layout:fragment="body">
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v20.0" nonce="cwp7ACxj"></script>
  <div th:insert="~{components/now-showing}"></div>
</section>
</body>
