<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/user/layout}">
<head>
    <meta charset="UTF-8">
    <title>Phim Sắp Chiếu</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #fdfcf0;
            margin: 0;
            padding: 0;
            color: #333;
        }
    </style>
    <link rel="stylesheet" th:href="@{/assets/user/css/up-coming.css}">
    <link rel="stylesheet" th:href="@{/assets/user/css/now-showing.css}">
</head>
<body>
<section layout:fragment="body">
    <div class="up-coming-page">
        <div class="container my-5">
            <div class="row">
                <div class="col-6">
                    <div class="coming" th:text="#{user.movies.coming}">Phim Sắp Chiếu</div>
                </div>
                <div class="col-6 text-right">
                    <div class="show-ing"><a th:href="@{/movies/now-showing}" th:text="#{user.movies.now}">Phim Đang Chiếu</a></div>
                </div>
            </div>
            <hr>
            <section th:replace="~{components/user-movie-list.html}"></section>
        </div>
    </div>
</section>
</body>
