<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layouts/admin/layout}"
        lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Create room</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
        .form-container {
            max-width: 1200px;
            padding: 10px;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            margin: 20px 10px;
        }
        .form-container h2 {
            margin-bottom: 20px;
            color: #333;
        }
        .form-container label {
            font-weight: bold;
        }
        .form-container .btn-primary {
            background-color: #007bff;
            border: none;
            transition: background-color 0.3s ease;
        }
        .form-container .btn-primary:hover {
            background-color: #0056b3;
        }
        .content-wrapper {
            overflow-y: auto;
            height: calc(100vh - 100px);
            padding: 10px;
        }
    </style>
</head>
<body>
<section layout:fragment="body">
    <div class="content-wrapper">
        <h3 class="m-2" style="color: darkblue">Thêm Phòng Chiếu</h3>
        <div class="form-container">
            <form th:action="@{/admin/screens}" th:object="${screenCreateFormDto}" method="post">
                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                </div>
                <div class="form-group" style="padding-bottom: 10px">
                    <label for="roomId">ID</label>
                    <input type="text" id="roomId" name="id"  class="form-control" readonly>
                </div>
                <div class="form-group"  style="padding-bottom: 10px">
                    <label for="citySelect">Tỉnh/Thành</label>
                    <select id="citySelect" name="city" class="form-control" required>
                        <option selected>Chọn tỉnh/thành</option>
                    </select>
                </div>
                <div class="form-group"  style="padding-bottom: 10px">
                    <label for="theaterSelect">Rạp</label>
                    <select id="theaterSelect" name="theaterId" class="form-control" required>
                        <option value="all" selected>Chọn rạp</option>
                    </select>
                </div>
                <div class="form-group" style="padding-bottom: 10px">
                    <label for="roomName">Tên phòng chiếu</label>
                    <input type="text" id="roomName" name="name" class="form-control" placeholder="Nhập tên phòng chiếu" required>
                </div>
                <div class="form-group" style="padding-bottom: 10px">
                    <label for="verticalSize">Chiều dọc (số ghế)</label>
                    <input type="number" id="verticalSize" name="verticalSize" class="form-control" placeholder="Nhập số ghế theo chiều dọc" required>
                </div>
                <div class="form-group" style="padding-bottom: 10px">
                    <label for="horizontalSize">Chiều ngang (số ghế)</label>
                    <input type="number" id="horizontalSize" name="horizontalSize" class="form-control" placeholder="Nhập số ghế theo chiều ngang" required>
                </div>
                <div class="form-group"  style="padding-bottom: 10px">
                    <label for="seatImport">Nhập file danh sách ghế</label>
                    <input type="file" id="seatImport" name="seatImport" class="form-control-file">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Thêm Phòng Chiếu</button>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        document.addEventListener("DOMContentLoaded", function () {
          const citySelect = document.getElementById("citySelect");
          const theaterSelect = document.getElementById("theaterSelect");
          const timeSpanSelect = document.getElementById("timeSpanSelect");
          const applyFiltersButton = document.getElementById("applyFilters");

          // Function to populate city options
          function loadCities() {
            fetch("/cities")
              .then((response) => response.json())
              .then((cities) => {
                citySelect.innerHTML =
                  "<option selected>Chọn tỉnh/thành</option>";
                cities.forEach((city) => {
                  citySelect.innerHTML += `<option value="${city.id}">${city.name}</option>`;
                });
              })
              .catch((error) => console.error("Error loading cities:", error));
          }

          // Function to populate theater options based on selected city
          function loadTheaters(cityId) {
            if (cityId) {
              fetch(`/cities/${cityId}`)
                .then((response) => response.json())
                .then((data) => {
                  const theaters = data.theaters;
                  theaterSelect.innerHTML =
                    "<option selected>Chọn rạp</option>";
                  theaters.forEach((theater) => {
                    theaterSelect.innerHTML += `<option value="${theater.id}">${theater.name}</option>`;
                  });
                })
                .catch((error) =>
                  console.error("Error loading theaters:", error)
                );
            } else {
              theaterSelect.innerHTML =
                '<option value="">Select Theater</option>';
              theaterSelect.disabled = true;
            }
          }

          // Event listener for city selection change
          citySelect.addEventListener("change", function () {
            const cityId = citySelect.value;
            if (cityId) {
              loadTheaters(cityId);
            } else {
              theaterSelect.innerHTML =
                '<option value="">Select Theater</option>';
              theaterSelect.disabled = true;
            }
          });
          // Initial load
          loadCities();
        });
    </script>
</section>
</body>
</html>
