<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/user/info-layout}">
<body layout:fragment="info-layout-body">
<div class="ticket-container">
    <div class="ticket-header">
        <div>
            <h5 th:text="${booking.movie.getTitle()}">KẺ TRỘM MẶT TRĂNG 4</h5>
            <p class="info" th:text="${booking.showtime.startTime.toLocalDate()}">Chủ Nhật, 07 Tháng 7, 2024</p>
            <p class="info" th:text="${booking.showtime.startTime.toLocalTime()}">18:40 ~ 20:35</p>
            <p class="info" th:text="${booking.theater.name}">CGV Vincom Đà Nẵng</p>
            <p class="info" th:text="${booking.theater.getAddress()}"></p>
        </div>
        <img th:src="${booking.movie.photoUrl}" alt="Movie Poster">
    </div>

    <div class="ticket-details">
        <div class="divider"></div>
        <p><strong th:text="#{user.bookings.screen}">Phòng chiếu:</strong> <span th:text="${booking.screen.name}"></span></p>
        <p><strong th:text="#{user.bookings.seat}">Ghế:</strong> <span th:text="${booking.getSeats()}"></span></p>
        <th:block th:each="foodBooking : ${booking.getBookingFoods()}">
            <p><strong th:text="${foodBooking.foodName}">MY COMBO MR 2022:</strong>: <span th:text="${foodBooking.foodCount}"></span></p>
        </th:block>
        <div class="divider"></div>
        <p><strong th:text="#{user.bookings.ticket-price}">Giá vé:</strong> <span th:text="${#numbers.formatDecimal(booking.totalSeatPrice, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></span></p>
        <p><strong th:text="#{user.bookings.food-price}">Bắp nước:</strong> <span th:text="${#numbers.formatDecimal(booking.totalFoodPrice, 0, 'POINT', 0, 'COMMA')} + ' ₫'"></span></p>
        <p><strong th:text="#{user.bookings.discount}">Giảm giá:</strong> <span th:text="${#numbers.formatDecimal(booking.getDiscount(), 0, 'POINT', 0, 'COMMA')} + ' ₫'"></span></p>
        <p><strong th:text="#{user.bookings.e-gift}">Thẻ quà tặng:</strong> <span>0</span></p>
        <div class="divider"></div>
        <p class="total-price"><span th:text="#{user.bookings.total-price}"> Tổng cộng </span>: <span th:text="${#numbers.formatDecimal(booking.getFinalPrice(), 0, 'POINT', 0, 'COMMA')} + ' ₫'"></span></p>
    </div>

    <div class="qr-code">
        <img src="https://static.vecteezy.com/system/resources/previews/002/557/391/original/qr-code-for-scanning-free-vector.jpg" alt="QR Code">
    </div>

    <p class="note" th:text="#{user.bookings.note}">Vui lòng đưa mã số này đến quầy vé CGV để nhận vé của bạn</p>
</div>
</body>
</html>