<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Define your services beans -->
  <bean id="usersService" parent="baseTransactionProxy">
    <property name="target">
      <bean class="cinemas.services.impl.UsersServiceImpl">
        <constructor-arg ref="usersRepository"/>
      </bean>
    </property>
  </bean>
  <bean id="bannersService" parent="baseTransactionProxy">
    <property name="target">
      <bean class="cinemas.services.impl.BannersServiceImpl">
        <constructor-arg ref="bannersRepository"/>
      </bean>
    </property>
  </bean>
  <bean id="moviesService" parent="baseTransactionProxy">
    <property name="target">
      <bean class="cinemas.services.impl.MoviesServiceImpl">
        <constructor-arg ref="moviesRepository"/>
      </bean>
    </property>
  </bean>
  <!-- Configure user service and password encoder -->
  <bean id="customUserDetailsService" class="cinemas.services.impl.CustomUserDetailsServiceImpl">
    <constructor-arg ref="usersRepository"/>
  </bean>

  <bean id="citiesService" parent="baseTransactionProxy">
    <property name="target">
      <bean class="cinemas.services.impl.CitiesServiceImpl">
        <constructor-arg ref="citiesRepository"/>
      </bean>
    </property>
  </bean>

  <bean id="theatersService" parent="baseTransactionProxy">
    <property name="target">
      <bean class="cinemas.services.impl.TheatersServiceImpl">
        <constructor-arg ref="theatersRepository"/>
      </bean>
    </property>
  </bean>
  <bean id="reportsService" parent="baseTransactionProxy">
    <property name="target">
      <bean class="cinemas.services.impl.ReportsServiceImpl">
        <constructor-arg ref="bookingsRepository"/>
      </bean>
    </property>
  </bean>
</beans>
