<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:security="http://www.springframework.org/schema/security"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd">


  <security:http auto-config="true" use-expressions="true">
    <security:intercept-url pattern="/login" access="isAnonymous()"/>
    <security:intercept-url pattern="/logout" access="permitAll"/>
    <security:intercept-url pattern="/" access="permitAll"/>
    <security:intercept-url pattern="/assets/**" access="permitAll"/>

    <!-- Restrict access to admin pages, require CUSTOMER role -->
    <security:intercept-url pattern="/customer/**" access="hasRole('ROLE_CUSTOMER')"/>
    <security:intercept-url pattern="/users/**" access="hasRole('ROLE_CUSTOMER')"/>
    <security:intercept-url pattern="/foods/**" access="hasRole('ROLE_CUSTOMER')"/>
    <!-- Restrict access to admin pages, require ADMIN role -->
    <security:intercept-url pattern="/manager/**" access="hasRole('ROLE_MANAGER')"/>
    <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_MANAGER')"/>
    <security:intercept-url pattern="/**" access="permitAll"/>

    <!-- Configure login form -->
    <security:form-login login-page="/login"
      authentication-success-handler-ref="customAuthenticationSuccessHandler"
      authentication-failure-url="/login?error=true"
      username-parameter="email"
      password-parameter="password"
    />
    <security:logout logout-url="/logout" logout-success-url="/login?logout=true"/>

    <!-- Configure remember-me -->
    <security:remember-me key="uniqueAndSecret" token-validity-seconds="1209600" remember-me-parameter="remember-me"/>
  </security:http>

  <security:authentication-manager>
    <security:authentication-provider user-service-ref="customUserDetailsService">
      <security:password-encoder ref="bCryptPasswordEncoder"/>
    </security:authentication-provider>
  </security:authentication-manager>

  <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
  <bean id="webSecurityExpressionHandler"
    class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>

  <bean id="customAuthenticationSuccessHandler" class="cinemas.configs.CustomAuthenticationSuccessHandler">
    <constructor-arg ref="usersService"/>
  </bean>
</beans>