<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/user/layout}">
<head>
    <meta charset="UTF-8">
    <title>Select Chair</title>
    <link rel="stylesheet" th:href="@{/assets/user/css/ticket_booking.css}">
    <script th:src="@{/assets/user/js/seat-booking.js}"></script>
</head>
<body>

<section layout:fragment="body" class="best-of-the-week">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="block">
                    <div class="line top">
                        <div>Bước 1: Chọn Ghế</div>
                    </div>

                    <form id="form-chonghe" th:action="@{#}" method="POST">
                        <div class="block-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-2 col-xs-12 col-sm-12">
                                        <h3 th:text="${showtime.movie.titleVn}">Tên phim</h3>
                                        <p><img th:src="@{${showtime.movie.photoUrl}}" align="left" height="160" width="140" alt="" src=""/></p>
                                        <p>Phòng chiếu: <label th:text="${showtime.screen.name}">Phòng chiếu</label></p>
                                        <p>Ngày: <label th:text="${showtime.startTime.toLocalDate()}">Ngày</label></p>
                                        <p>Suất chiếu: <label th:text="${showtime.startTime.toLocalTime()}">14:00</label></p>
                                        <p>Rạp: <label th:text="${showtime.screen.theater.name}">Tên Rạp</label></p>
                                    </div>
                                    <div class="col-md-8 col-xs-12 col-sm-12">
                                        <div>
                                            <p style="text-align:center;color:gray;font-weight:bold;font-size:x-large; margin-bottom: 0">
                                                SCREEN</p>
                                            <p style="width:360px;background-color:gray;height:5px;margin: 0 auto 10px;"></p>
                                        </div>
                                        <ul class="social trp">
                                            <div class="ad">
                                                <div class="clearfix row" th:style="'grid-template-columns: repeat(' + ${screenColumns} + ', 0.06fr);'">
                                                    <th:block th:each="row : ${seatGrid}">
                                                        <th:block th:each="seat : ${row}">
                                                            <th:block th:if="${seat != null}">
                                                                <label th:text="${seat.name}"
                                                                       th:data-price="${seat.price}"
                                                                       th:id= "${seat.id}"
                                                                       th:data-seat-type="${seat.type}"
                                                                       th:data-available="${seat.available}"
                                                                       th:data-selected="${seat.selected}"
                                                                       th:for = "'seat' + ${seat.id}">
                                                                </label>
                                                                <input class="d-none" type="checkbox" name="seatIds" th:id="'seat' + ${seat.id}" th:value="${seat.id}">
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                    <div class="col-md-2 col-xs-12 col-sm-12">
                                        <table style="border:1px solid black;">
                                            <tr>
                                                <td class="text-center" colspan="2"><label>Chú thích</label></td>
                                            </tr>
                                            <tr>
                                                <td><p style="width:20px;height:20px;background-color:#278ac7"></p></td>
                                                <td><label>Ghế đơn</label></td>
                                            </tr>
                                            <tr>
                                                <td><p style="width:20px;height:20px;background-color:#01c73c"></p></td>
                                                <td><label>Ghế vip</label></td>
                                            </tr>

                                            <tr>
                                                <td><p style="width:20px;height:20px;background-color:#bbbbbb"></p></td>
                                                <td><label>Ghế đã bán</label></td>
                                            </tr>
                                            <tr>
                                                <td><p style="width:20px;height:20px;background-color:#b11500"></p></td>
                                                <td><label>Ghế đang chọn</label></td>
                                            </tr>
                                            <tr>
                                                <td><p style="width:20px;height:20px;background-color:#343433"></p></td>
                                                <td><label>Ghế không thể chọn</label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="clearfix"></div>
                        <section class="container"
                                 style="box-shadow: 0 0 5px 1px #333;padding-top:20px;padding-bottom:40px;margin-bottom:20px;background-color:#000">
                            <div class="bottom-content">
                                <div class="format-bg-top"></div>
                                <div th:replace="~{components/foot-booking}"></div>
                                <div class="format-bg-bottom"></div>
                            </div>
                        </section>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btndatve text-white d-block border-0"
                                    style="background-color: orangered; margin-bottom: 20px">NEXT <i
                                    class="ion-ios-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
