<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/user/layout}">
<head>
    <meta charset="UTF-8">
    <title>CGV</title>
    <link rel="stylesheet" th:href="@{/assets/user/css/ticket_booking.css}">
    <script th:src="@{/assets/user/js/seat-booking.js}"></script>
</head>
<body>

<section layout:fragment="body" class="best-of-the-week">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="block">
                    <div class="line top">
                        <div th:text="#{user.showtimes.step-1}">Bước 1: Chọn Ghế</div>
                    </div>

                    <form id="form-chonghe" th:action="@{#}" method="POST">
                        <div class="block-body">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-8 col-xs-12 col-sm-12">
                                        <div>
                                            <p style="text-align:center;color:gray;font-weight:bold;font-size:x-large; margin-bottom: 0" th:text="#{user.showtimes.center-screen}">
                                                SCREEN</p>
                                            <p style="width:360px;background-color:gray;height:5px;margin: 0 auto 10px;"></p>
                                        </div>
                                        <ul class="social trp">
                                            <div class="ad">
                                                <div class="clearfix row" th:style="'grid-template-columns: repeat(' + ${screenColumns} + ', 0.06fr);'">
                                                    <th:block th:each="row : ${seatGrid}">
                                                        <th:block th:each="seat : ${row}">
                                                            <th:block th:if="${seat != null}">
                                                                <label th:text="${seat.name}"
                                                                       th:data-price="${seat.price}"
                                                                       th:id= "${seat.id}"
                                                                       th:data-seat-type="${seat.type}"
                                                                       th:data-available="${seat.available}"
                                                                       th:data-selected="${seat.selected}"
                                                                       th:for = "'seat' + ${seat.id}">
                                                                </label>
                                                                <input class="d-none" type="checkbox" name="seatIds" th:id="'seat' + ${seat.id}" th:value="${seat.id}">
                                                            </th:block>
                                                        </th:block>
                                                    </th:block>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row justify-content-center mt-5">
                                        <table class="col-md-8 col-xs-12 col-sm-12">
                                            <!-- Row 1 -->
                                            <tr>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                    <p style="width:20px;height:20px;background-color:#278ac7; margin-right: 10px;"></p>
                                                    <label th:text="#{user.showtimes.seat-standart}">Ghế đơn</label></div>
                                                </td>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                    <p style="width:20px;height:20px;background-color:#bbbbbb; margin-right: 10px;"></p>
                                                        <label th:text="#{user.showtimes.seat-sold}">Ghế đã bán</label></div>
                                                </td>
                                            </tr>
                                            <!-- Row 2 -->
                                            <tr>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                    <p style="width:20px;height:20px;background-color:#01c73c; margin-right: 10px;"></p>
                                                        <label th:text="#{user.showtimes.seat-vip}">Ghế vip</label></div>
                                                </td>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                    <p style="width:20px;height:20px;background-color:#343433; margin-right: 10px;"></p>
                                                        <label th:text="#{user.showtimes.seat-unavailable}">Ghế không thể chọn</label></div>
                                                </td>
                                            </tr>
                                            <!-- Row 3 (with a placeholder for balance) -->
                                            <tr>
                                                <td>
                                                    <div style="display: flex; align-items: center;">
                                                    <p style="width:20px;height:20px;background-color:#b11500; margin-right: 10px;"></p>
                                                        <label>Checked</label></div>
                                                </td>
                                                <td></td> <!-- Empty cell to complete the layout if needed -->
                                            </tr>
                                        </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="clearfix"></div>
                        <section class="container"
                                 style="box-shadow: 0 0 5px 1px #333;padding-top:20px;padding-bottom:40px;margin-bottom:20px;background-color:#000">
                            <div class="bottom-content">
                                <div class="format-bg-top"></div>
                                <div th:replace="~{components/foot-booking}"></div>
                                <div class="format-bg-bottom"></div>
                            </div>
                        </section>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btndatve text-white d-block border-0"
                                    style="background-color: orangered; margin-bottom: 20px">NEXT <i
                                    class="ion-ios-arrow-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
